@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.fadeinclass {
  position: relative;
  animation:fadein 1s forwards;
}

.fadeoutclass {
  position: relative;
  animation:fadeout 1s forwards;
}

.camBackground {
  background-image: url("./assets/backgroundRoom.png");
  background-repeat: no-repeat;
  background-size: contain;
  /* width: 640px;
  height: 360px; */
  justify-content: center;
  align-items: center;
  background-position: top center;
  height: 100vh;
}

.roomContainer{
  display: flex;
  flex-direction: row;
  /* width:100vw; */
  /* height:100vh; */
  justify-content: space-around;
  align-items: center;
}

@keyframes fadein{
  0% {
      left:-20px;
  }
  1% {
    opacity:0;
    left:-20px;

  }
  100% {
      opacity:1;
      left:0px;
  }
}


@keyframes fadeout{
  0% {
      opacity:1;
      left:0px;
  }
  100% {
      opacity:0;
      left:20px;
  }
}