body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.fadeinclass {
  position: relative;
  animation:fadein 1s forwards;
}

.fadeoutclass {
  position: relative;
  animation:fadeout 1s forwards;
}

.camBackground {
  background-image: url("./assets/backgroundRoom.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 640px;
  height: 360px;
  justify-content: center;
  align-items: center;
}

.roomContainer{
  display: flex;
  flex-direction: row;
  width:100vw;
  height:90vh;
  justify-content: center;
  align-items: center;
}

.diplomafly{
  position: relative;
  animation:diplomanimation 3s forwards;
}

@keyframes fadein{
  0% {
      left:-20px;
  }
  1% {
    opacity:0;
    left:-20px;

  }
  100% {
      opacity:1;
      left:0px;
  }
}


@keyframes fadeout{
  0% {
      opacity:1;
      left:0px;
  }
  100% {
      opacity:0;
      left:20px;
  }
}

@keyframes diplomanimation{
  0% {
      opacity:0;
      left:-75px;
  }
  30%,70% {
      opacity:1;
      left:0px;
      scale:2;
  }
  100% {
      opacity:0;
      left:75px;
  }
}